@model IEnumerable<AssetDto>

@{
    ViewData["Title"] = "Varlık Listesi";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Varlık Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Seri Numarası</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.SerialNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Düzenle</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Detaylar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
